@media (max-width: 1366px) {
    #nav .item-menu .item-link {
        height: 100%;
        font-size: 14px;
    }
}
@media (max-width: 1140px) { 
    .section-banner-main{display: none;}
    .section-main .title-section br,
    .section-main .dcr-11izkwq br{
        display: contents;
    }
    .wrap-box-content .box-title .title-page {
        font-size: 32px;
    }
    .wrap-box-content .list-category-top a{
        font-size: 16px;
    }
    .is-mobile{
        display: block;
    }
    .is-mobile.section-banner-main .dcr-1sz9f2{
        flex-direction: column;
    }
    .is-mobile.section-banner-main .dcr-1sz9f2 .dcr-xslzmx{
        flex: unset;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .is-mobile.section-banner-main .dcr-1sz9f2 .dcr-xslzmx .link-more{
        background-color: #FFF;
        border-radius: 20px;
        font-size: 10px;
        color: #121212;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: max-content;
        padding-inline: 6px;
        border: 1px solid #a49615;
        gap: 5px;
    }
    .is-mobile.section-banner-main .dcr-1sz9f2 .dcr-xslzmx .dcr-l9k7rx{
        max-width: 100%;
    }
    .is-mobile.section-banner-main .title-banner {
        font-size: 30px;
        writing-mode: unset;
        transform: unset;
    }
    .is-mobile.section-banner-main .owl-carousel .owl-dots {
        position: relative;
    }
}
@media (max-width: 1024px) {}
@media (max-width: 979px) {
    .container-blog .text-hot{
        margin-bottom: 10px;
    }
    .dcr-brnda7{
        font-size: 16px;
    }
    .container-blog .text-hot.pt {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .container-blog .name-title {
        height: 77px;
        -webkit-line-clamp: 4;
        font-size: 16px;
    }
    .dcr-1elvov .title-category {
        font-size: 14px;
        padding-top: 10px;
    }
    
    .dcr-1ngxlvj>div{
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    
    }
    .container-blog .text-hot.pt,
    .dcr-1elvov .title-category,
    .section-case-3 .list-item-left .title-category,
    .section-slider .new-case-1 .title-category,
    .section-case-3 .title-category{
        font-size: 14px;
    }

    .dcr-1elvov .title-item,
    .section-case-3 .list-item-left .dcr-1ay6c8s {
        font-size: 16px;
    }
    .section-top-view{
        flex-direction: column;
    }
    .section-top-view .dcr-1h0ym73{
        flex: unset;
        max-width: 100%;
        width: 100%;
    }
    .section-top-view .container-blog {
        margin: 0;
        padding-left: 0;
        flex: unset;
        max-width: 100%;
    }
    .section-top-view .container-blog>.dcr-x0cvzb{
        flex-direction: column;
    }
    .section-top-view .container-blog>.dcr-x0cvzb>li{
        flex: unset!important;
        max-width: 100%!important;
    }
    .list-view{
        border: none;
        border-top: 1px solid #dcdcdc;
    }
    .list-view .item .number {
        padding-right: 20px;
        font-size: 36px;
        padding-left: 2px;
        min-width: 50px;
    }
    .dcr-d1ilyq.item-right .title-section-child {
        font-size: 20px;
        text-align: left;
        padding-left: 15px;
    }
    .section-top-view .slider-video.owl-theme .owl-dots {
        top: unset;
        margin-top: 10px;
    }
    .dcr-17yg843{
        justify-content: flex-start;
    }
    .dcr-ggozu3 {
        bottom: 6px;
        right: 8px;
    }
    #nav .list-menu {
        width: calc(100% - 50px);
    }
    #nav .item-menu {
        max-width: calc(100% / 6);
        width: 100%;
        flex: 0 0 calc(100% / 6);
    }
    .header-top .container-header{
        padding-inline: 0;
        justify-content: space-between;
    }
    .header-top .container-header .item.taka{
        display: block;
        display: flex;
        align-items: center;
    }
    .header-top .container-header .item.dcr-1gd007l .dcr-1vnatzu{
        display: block;
    }
    .header-top .container-header .item.taka-search{
        order: 1;
        flex: 0 0 calc(100% - 200px);
    }
    .dcr-1gd007l:before,
    .header-top .container-header .item.taka-search::before{
        display: none;
    }
    .header-top .container-header .item.taka-hn{
        order: 2;
    }
    .header-top .container-header .item.taka-date{
        order: 3;
    }
    .dcr-1gt8egs li {
        width: 50%;
        overflow: hidden;
    }
    .top-new .item-new .dcr-qxru8z {
        width: calc(100% - 20px);
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }
    .footer-main{
        flex-direction: column-reverse;
    }
    .footer-main .item {
        flex: unset!important;
        max-width: 100%!important;
        border-right: none!important;
        padding-bottom: 10px;
    }
    .footer-main .wrap-logo-footer .box-ide {
        margin-bottom: 35px;
    }
    .footer-main .wrap-logo-footer .box-image {
        padding: 0 20px 10px;
    }
    .footer-main .item-hotline .hotline-top {
        margin-bottom: 15px;
        flex-direction: column;
    }
    .footer.header-top{
        padding-block: 30px;
    }
    .footer.header-top .container-header{
        justify-content: center;
        gap: 10px;
    }
    .footer.header-top .container-header .item.item-mobile{
        display: flex;
    }
    .footer.header-top .container-header .item:not(.item-mobile){
        display: none;
    }
    .wrap-menu-child-top .wrap-menu-child{
        width: 100%!important;
        padding-bottom: 0;
    }
    .wrap-menu-child-top .wrap-menu-child .selectableMenuItem{
        padding-block: 18px;
        font-size: 16px;
        text-align: left;
    }
    .selectableMenuItem:before {
        margin-top: 1px;
    }
    #expanded-menu ul .dcr-1apjkx5{
        justify-content: flex-start;
    }
    .wrap-menu-child-top .item-child-menu .selectableMenuItem{
        padding-block: 8px;
    }
    .dcr-190ztmi {
        left: 6px;
        top: 36px;
        display: block;
    }
    .dcr-g8v7m4{
        margin-bottom: 15px;
    }
    .wrap-menu-foregin {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }
    .dcr-12vycz3 {
        display: none;
    }
    .menu-foregin .item .name {
        max-width: 100%;
        padding-block: 10px;
    }
    #expanded-menu-footer .dcr-1rogvv6 ,
    #expanded-menu .dcr-1rogvv6 {
        min-height: 100vh;
        height: 100vh;
        overflow: scroll;
        background: #041F4A;
    }
    html {
        overflow-y: unset;
    }
    #top-nav-input-checkbox-footer:checked~div .dcr-azg7f5 {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    #top-nav-input-checkbox-footer:checked~div .dcr-ggozu3 {
        z-index: 22;
    }
    #top-nav-input-checkbox-footer:checked~div .dcr-120u0k1 {
        background-color: transparent;
    }
    #top-nav-input-checkbox-footer:checked~div .dcr-120u0k1:before {
        top: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #top-nav-input-checkbox-footer:checked~div .dcr-120u0k1:after {
        bottom: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    footer.dcr-yvt6mp .wrap-menu-child-top .wrap-menu-child{
        max-width: 100%!important;
    }
    #Lifestyle-checkbox-input-new:not(:checked)~.dcr-b7ndus,
    #News-checkbox-input-footer:not(:checked)~.dcr-1apjkx5,
    #Sport-checkbox-input-footer:not(:checked)~.dcr-18ceucy,
    #Culture-checkbox-input-footer:not(:checked)~.dcr-1ghku59,
    #Lifestyle-checkbox-input-footer:not(:checked)~.dcr-b7ndus,
    #News-checkbox-input-footer-product:not(:checked)~.dcr-b7ndus,
    #Opinion-checkbox-input-footer:not(:checked)~.dcr-p2o2v8,
    .wrap-slider-category .item-left .box-image,
    .list-menu-left {
        display: none;
    }
    .wrap-slider-category{
        display: block;
    }
    .wrap-slider-category .item-left{
        flex: unset;
        max-width: unset;
        width: 100%;
        display: block;
    }
    .wrap-slider-category .item-left .dcr-l9k7rx {
        background-color: transparent;
        max-width: 100%;
    }
    .wrap-slider-category .slider-category-main{
        flex: unset;
        max-width: unset;
        width: 100%;
    }
    .wrap-slider-category .item-left .dcr-11izkwq{
        color: #000;
    }
    .wrap-slider-category .owl-nav button.owl-prev {
        left: 20px;
    }
    .wrap-slider-category .owl-nav button svg,
    .wrap-slider-category .owl-nav button svg{
        width: 20px;
    }
    .wrap-slider-category .owl-nav button svg path{
        fill: var(--is-color)!important;
    }
    .wrap-slider-category .owl-nav button.owl-next {
        right: 20px;
    }
    .wrap-slider-category .owl-carousel{
        padding-left: 10px;
    }
    .layout-content-main{
        flex-direction: column;
    }
    .layout-content-main .item-left {
        flex: unset;
        max-width: 100%;
        padding-bottom: 0;
    }
    .layout-content-main .wrap-box-content{
        flex: unset;
        max-width: 100%;
        display: block;
    }
    .layout-content-main .wrap-box-content .layout-right,
    .layout-content-main .wrap-box-content .content-layout-main{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .layout-content-main .item-left .info-author .box-social{
        flex-direction: row;
    }
    .layout-content-main .item-left .info-author .box-social .list-social-detail{
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
    }
    .layout-content-main .item-left .info-author .box-social .list-social-detail li{
        margin: 0;
    }
}
@media (max-width: 740px) {
    .container-blog .name-title {
        height: 40px;
        -webkit-line-clamp: 2;
    }
    .dcr-1elvov footer {
        padding-top: 2px;
    }
    .dcr-1elvov .title-item {
        -webkit-line-clamp: 2;
        min-height: 38px;
    }
    .container-blog .text-hot {
        padding-left: 5px;
    }
    .list-view .item {
        padding: 10px 25px 30px 5px;
    }
    .dcr-1jvozb1:first-of-type a {
        padding-left: 5px;
    }
    #nav .item-menu .item-link {
        font-size: 12px;
    }
    .header-top .container-header{
        padding-inline: 9px;
    }
    .header-top .container-header .item * {
        font-size: 12px;
    }
    .header-logo-main .home-header{
        padding-left: 10px;
    }
    .header-logo-main .home-header .id-number {
        border-radius: 22px;
        height: 22px;
        font-size: 14px;
    }
    .list-tag li a{
        font-size: 12px;
    }
}
@media (max-width: 540px) {
    .list-view{
        flex-direction: column;
    }
    .list-view .item {
        flex: unset;
        max-width: 100%;
        padding: 15px 15px 15px 5px;
    }
    #nav .item-menu .item-link {
        font-size: 10px;
    }
    .dcr-ggozu3 {
        bottom: 2px;
    }
    .dcr-62266h {
        margin-right: 30px;
    }
    .header-logo-main .home-header .id-number {
        font-size: 12px;
    }
    .header-logo-main .home-header {
        min-width: 115px;
    }
    .header-logo-main {
        padding-top: 25px;
    }
}
@media (max-width: 462px) {
    .dcr-ggozu3 {
        bottom: 8px;
    }
}