*:not([class*="fa"]){
    font-family: "Roboto Slab", serif!important;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}
.border-0{
    border: none!important;
}
#nav{
    background-color: #041F4A;
}
#nav .dcr-1yaxlqk{
width: 100%;
    align-items: center;
    border-top: 1px solid #506991;
}
#header .dcr-henwc{
    background-color: #041F4A;
}
#nav .dcr-12nc91l{
    display: flex;
    align-items: center;
}
#nav .dcr-12nc91l:after{
    height: 62px;
}
#nav .dcr-fqcvat{
    height: auto;
}

#nav .list-menu{
    display: flex;
    align-items: unset;
    position: relative;
    padding-left: 0;
}
#nav .list-menu::after{
    border: none;
    height: auto;
    bottom: auto;
    top: 0;
}
#nav .item-menu{}
#nav .item-menu:first-child{
    margin-left: 0;
}
#nav .item-menu .item-link{
    height: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
}
#nav .icon-more{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        position: relative;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        path{
            fill: #FFE500;
        }
    }
}
#nav .dcr-4f36de{
    padding-inline: 9px;
}
/* #041F4A */
.header-top{
    background-color: #052962;
    border-bottom: 1px solid #FFFFFF05;
}
.header-top .container-header{
    padding: 5px 15px;
    justify-content: center;
    height: auto;
    background-color: #052962;
}
.header-top .container-header .item{
    align-items: center;
}
.header-top .container-header .item *{
    font-size: 14px;
    font-weight: 400;
    padding-block: 0;
    color: #FFF;
}
.header-top .container-header .item .dcr-1p9y3ya{
    color: #dbc509;
}
.list-social{
    display: flex;
    align-items: center;
    gap: 6px;
}
.list-social li{}
.list-social li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid #FFF;
    border-radius: 100%;
}
.list-social li a svg path{
    transition: all .3s;
}
.list-social li a:hover{
    border-color: #FFE500;
}
.list-social li a:hover svg path{
    fill: #FFE500;
}
.header-logo-main{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 25px;
    height: auto;
}
.header-logo-main .logo{
    margin-block: 0;
}
.header-logo-main .logo img{
    width: 100%;
}
.header-logo-main .home-header{
    min-width: 171px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-logo-main .home-header .icon-home{
    width: 25px;
    height: 25px;
    border: 1px solid #FFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    transition: all .3s;
}
.header-logo-main .home-header .icon-home:hover{
    border-color: #FFE500;
}
.header-logo-main .home-header .icon-home:hover svg path{
    fill: #FFE500;
}
.header-logo-main .home-header .id-number{
    border: none;
    border-radius: 25px;
    height: 25px;
    background-color: #dbc509;
    color: #041F4A;
    font-weight: 500;
}
#expanded-menu .dcr-1rogvv6{
    background-color: #041F4A;
}
#expanded-menu ul .dcr-1apjkx5{}
ul.dcr-pequ9o{
    padding-inline: 8px;
    text-align: center;
}
.wrap-menu-child{
    width: 160px;
}
ul .item-child-menu .selectableMenuItem{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.wrap-menu-child-top{}
.wrap-menu-child-top .wrap-menu-child:first-child{
    width: 162px;
}
.wrap-menu-foregin{
    width: 100%;
    max-width: 310px;
    padding-left: 20px;
}
.menu-foregin{
    padding-bottom: 50px;
}
.menu-foregin .item{
    text-align: center;
}
.menu-foregin .item .name{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 70%;
    text-decoration: unset;
    padding-bottom: 5px;
    font-size: 18px;
    color: #FFF;
    background: unset;
    padding: 5px 0 7px;
    border: none;
    font-weight: 900;
    border-bottom: 1px solid #DADADA;
}
.menu-foregin .item .name span{
    color: #FFE500;
}
.menu-foregin .item .name:hover{
    color: #FFE500;
}
#menu-child-foregin{
    display: none;
}
.top-new{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.top-new .item-new .dcr-qxru8z{
    font-size: 14px;
}
.top-new .item-new .dcr-qxru8z svg{
    margin-bottom: -3px;
}

/*  */
.container-blog{
    padding-top: 20px;
}
.new-case-1{}
.new-case-1 .dcr-hz1gr4{}
.container-blog .dcr-hz1gr4{
    padding-top: 20px;
    padding-left: 8px;
}
.container-blog .dcr-omk9hw{
    background: #d9d9d945;
}
.container-blog .text-hot.pt{
    padding-top: 20px;
    padding-left: 5px;
}
.container-blog .text-hot{
    position: relative;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
}
.container-blog .name-title{
    height: 118px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.new-case-1 .text-hot.new::before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #C74600;
}
.dcr-17yg843 .box-time{
    min-width: max-content;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    padding-inline: 8px;
}
.dcr-17yg843 .box-time div{
    display: flex;
    align-items: center;
    gap: 4px;
}
.dcr-1jk3t5i.list{}
.dcr-1jk3t5i.list .item:first-child::before{
    border: none;
}
.list-menu-left{}
.list-menu-left li{
    display: flex;
    align-items: center;
    border-top: 1px solid #DADADA;
}
.list-menu-left li a{
    display: flex;
    align-items: center;
    text-decoration: unset;
    font-size: 10px;
    line-height: 1;
    padding-block: 5px;
    color: #000;
    gap: 5px;
}
.section-main{
    overflow: hidden;
}
.section-main .title-section,
.section-main .dcr-11izkwq{
    padding-top: 20px;
    font-size: 20px;
}
.dcr-1elvov .title-item{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.dcr-1elvov .title-category{
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #90DCFF;
}
.dcr-1elvov footer{
    padding-top: 15px;
}
.dcr-4xb9x1 .dcr-tttgpl{
    display: none;
}
.section-slider .owl-dots{
    text-align: left;
    padding-left: 5px;
}
.section-slider .owl-dots .owl-dot span{
    margin-inline: 4px;
}
.section-slider .owl-dots .owl-dot.active span{
    background: #90DCFF;
    
}
.section-3-or .owl-theme .owl-dots .owl-dot.active span,
.section-top-view .slider-video.owl-theme .owl-dots .owl-dot.active span,
.section-slider .section-case-3 .owl-dots .owl-dot.active span{
    background: #f2be18!important;
}
.section-case-3 .dcr-15hrd46{
    background: #d9d9d945;
}
.section-case-3 .dcr-15hrd46 .dcr-hz1gr4{}
.section-case-3 .dcr-15hrd46 .dcr-hz1gr4 *{
    color: #121212;
}
.section-case-3 .dcr-15hrd46:before {
    background: #f2be18;
}
.section-case-3 .dcr-15hrd46 .dcr-hz1gr4{
    padding-left: 2px;
    padding-top: 10px;
}
.section-case-3 .dcr-15hrd46 .dcr-hz1gr4 .dcr-1ay6c8s{
    font-weight: 700;
}
.section-case-3 .title-category{
    font-size: 18px;
    padding-bottom: 5px;
    color: #f2be18!important;
}
.section-case-3 .dcr-omk9hw:before{
    background: #f2be18;
}
.section-case-3 .dcr-pprjmd{
    padding-left: 3px;
    padding-top: 5px;
}
.section-case-3 .dcr-15hrd46 .dcr-hz1gr4 .dcr-4xb9x1{
    padding-top: 20px;
}
.section-case-3 .list-item-left .dcr-knt341 .dcr-jtpuxx{
    height: 110px;
}
.section-case-3 .list-item-left .dcr-knt341 .dcr-jtpuxx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-case-3 .list-item-left .dcr-1ua8lya{
    height: 110px;
    position: relative;
}
.section-case-3 .list-item-left .dcr-1ay6c8s{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.section-case-3 .list-item-left .title-category{
    font-size: 16px;
}
.section-slider .new-case-1 .dcr-omk9hw:before{
    background: green;
}
.section-slider .new-case-1 .title-category{
    color: green;
    font-size: 16px;
}
.section-slider .new-case-1 .owl-dots .owl-dot.active span{
    background: green;
}
.section-2-or .dcr-omk9hw:before{
    background: #c70000;
}
.section-2-or .dcr-1elvov .title-category{
    color: #c70000;
}
.section-2-or .owl-theme .owl-dots .owl-dot.active span{
    background: #c70000;
}

.section-3-or .dcr-omk9hw:before{
    background: #a49615!important;
}
.section-3-or.section-slider .new-case-1 .title-category,
.section-3-or .dcr-1elvov .title-category{
    color: #a49615;
}
.section-3-or .owl-theme .owl-dots .owl-dot.active span{
    background: #a49615;
}

.section-banner-main{
    padding-block: 40px;
}
.section-banner-main .dcr-1jk3t5i>li{
    padding: 0;
}
.section-banner-main .dcr-1sz9f2{
    display: flex;
    background-color: #052962;
    gap: 0;
}
.section-banner-main .dcr-1sz9f2 .dcr-xslzmx{
    flex: 0 0 18.5%;
    justify-content: center;
    padding-left: 15px;
}
.section-banner-main .dcr-1sz9f2 .section-case-3{
    flex: 0 0 81.5%;
    margin-inline: 0;
    padding-left: 10px;
    overflow: hidden;
}
.section-banner-main .box-image{
    width: 100%;
    line-height: 0;
}
.section-banner-main .box-image img{
    width: 100%;
}
.section-banner-main .content{
    color: #FFF;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.section-banner-main .content .title-item{
    font-size: 22px;
    font-weight: 700;
    padding-top: 20px;
    padding-right: 20px;
    line-height: 1.3;
}
.section-banner-main .content .description{
    font-size: 14px;
    line-height: 1.3;
}
.section-banner-main .content .link-more{
    background-color: #FFF;
    border-radius: 20px;
    font-size: 10px;
    color: #121212;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    padding-inline: 6px;
    border: 1px solid #a49615;
    gap: 5px;
}
.section-banner-main .content .box-time{
    display: flex;
    align-items: center;
    font-size: 10px;
    padding-bottom: 10px;
    gap: 4px;
    padding-top: 20px;
}
.section-banner-main .content .box-time svg{
    margin-top: -2px;
}
.section-banner-main .content .box-time svg path{
    fill: #a49615;
}
.section-banner-main .owl-carousel{
    position: unset;
}
.section-banner-main .owl-carousel .owl-dots{
    position: absolute;
    left: 5px;
    z-index: 10;
    bottom: 5px;
}
.section-banner-main .title-banner{
    font-size: 46px;
    color: #FFF;
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
}
.section-banner-main .title-banner span{
    color: #f2be18;
}
.list-view{
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
}
.list-view .item{
    flex: 0 0 50%;
    display: flex;
    padding: 10px 40px 35px 5px;
    border-bottom: 1px solid #c1c1c1;
}
.list-view .item:nth-child(odd){
    border-right: 1px solid #c1c1c1;
}
.list-view .item .number{
    padding-right: 25px;
    font-size: 40px;
    font-weight: 700;
}
.list-view .item.item-or{
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.list-view .item.item-or .content{
    padding-right: 20px;
}
.list-view .item.item-or .content .text-category{
    color: #f2be18;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}
.item-right.dcr-d1ilyq::before{
    border: none;
}
.list-view .item.item-or .box-image{
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
}
.list-view .item.item-or .box-image img{
    width: 100%;
    height: 100%;
}
.dcr-d1ilyq.item-right{
    display: block;
}
.dcr-d1ilyq.item-right .title-section-child{
    font-size: 22px;
    color: #121212;
    font-weight: 700;
    text-align: right;
    display: block;
    margin-bottom: 30px;
    padding-top: 15px;
}
.dcr-d1ilyq.item-right .title-section-child span{
    color: #f2be18;
}
.slider-video{
    /* overflow: hidden; */
    /* max-width: 200px; */
}
.section-top-view{
    display: flex;
    border-top: 1px solid #DCDCDC;
    border-inline: 1px solid #DCDCDC;
    padding-bottom: 35px;
}
.section-top-view .dcr-1h0ym73{
    flex: 0 0 18.5%;
    max-width: 18.5%;
    justify-content: space-between;
    padding-left: 15px;
    padding-bottom: 10px;
}
.section-top-view .dcr-1h0ym73::after{
    display: none;
}
.section-top-view .dcr-1h0ym73 .dcr-rdw702{
    width: 100%;
}
.section-top-view .container-blog{
    margin: 0;
    padding-left: 20px;
    flex: 0 0 81.5%;
    max-width: 81.5%;
}
.section-top-view .container-blog .dcr-czhhlk:first-child{
    flex: 0 0 calc(2 * (100% / 3));
    max-width: calc(2 * (100% / 3));
}
.section-top-view .container-blog .item-right{
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
}
.section-top-view .container-blog .item-right .slider-video{
    width: 100%;
    position: relative;
}
.section-top-view .slider-video .item{
    padding: 10px;
    padding-bottom: 65px;
    background: #052962;
    position: relative;
}
.section-top-view .box-video{
    position: relative;
}
.section-top-view .box-video .content{
    position: absolute;
    color: #FFF;
    bottom: 0;
    left: 0;
    padding-left: 6px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
}
.section-top-view .box-video .content::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* background: #000; */
    background-image: linear-gradient(#ffffff05, #000000);
}
.section-top-view .box-video .content .text-cate{
    font-weight: 700;
    color: #f2be18;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
}
.section-top-view .box-video .content .descrip{
    font-size: 12px;
    position: relative;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 100%;
}
.section-top-view .box-video .action-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000075;
    padding: 0;
    padding-left: 5px;
    transition: all .3s;
}
.section-top-view .box-video .action-video.close{
    opacity: 0;
    visibility: hidden;
}
.section-top-view .slider-video.owl-theme .owl-dots{
    position: absolute;
    top: -25px;
    margin: 0;
}
.section-top-view .slider-video.owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-top-view .slider-video.owl-theme .owl-nav button.disabled{
    opacity: 0;
    visibility: hidden;
}
.section-top-view .slider-video.owl-theme .owl-nav button{
    background: #f2be18;
    color: #121212;
    height: 24px;
    padding-inline: 5px!important;
    font-size: 10px;
    display: block;
    border-radius: 24px;
}
.section-top-view .slider-video.owl-theme .owl-nav button{}
.section-top-view .slider-video.owl-theme .owl-dots .owl-dot span{
    margin-inline: 4px;
}
.section-top-view .slider-video.owl-theme .owl-dots .owl-dot.active span{
    background: #f2be18;
}
.list-tag{}
.list-tag li{}
.list-tag li a{
    border: none;
    padding: 0 8px 0 0;
    border-radius: 0;
    border-right: 1px solid #12121260;
    line-height: 1;
    color: #12121280;
}
.list-tag li:last-child a{
    border: none;
}
#top-nav-input-checkbox-footer:checked~div .dcr-azg7f5 {
    display: block;
    overflow: visible;
}

footer.dcr-yvt6mp{
    background: #041f4a;
}
footer.dcr-yvt6mp #nav .list-menu {
    width: calc(6 * (100% / 7));
}
footer.dcr-yvt6mp .wrap-menu-child-top .wrap-menu-child,
footer.dcr-yvt6mp #nav .item-menu {
    width: 100%;
    max-width: calc(100% / 6);
}
footer.dcr-yvt6mp .dcr-1hnl185{
    background-color: unset;
}
footer.dcr-yvt6mp .wrap-menu-child-top{
    width: 100%;
    padding: 0;
}
footer.dcr-yvt6mp .wrap-menu-child-top .wrap-menu-child{
    width: 100%;
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
}
footer.dcr-yvt6mp .wrap-menu-child-top .wrap-menu-child:first-child{
    max-width: calc((100% / 7));

}
.footer-main{
    padding: 0;
    display: flex;
    width: 100%;
    gap: 0;
    padding-bottom: 15px;
    font-size: 14px;
    background: #041f4a;
}
.footer-main .dcr-1xnlu54{
    z-index: 1;
    background-color: #041f4a;
}
.footer-main .item{
    flex: 0 0 calc(2 * (100% / 7));
    max-width: calc(2 * (100% / 7));
    border-right: 1px solid #506991;
    padding-top: 20px;
}
.footer-main .item.item-logo{
    flex: 0 0 calc(3 * (100% / 7));
    max-width: calc(3 * (100% / 7));
    border: none;
    padding-bottom: 20px;
}
.footer-main .item-address{
    text-align: center;
    padding-inline: 20px;
}
.footer-main .item-address .item-text{
    margin-bottom: 20px;
}
.footer-main .item-address .item-text .label{
    font-weight: 700;
    color: #FFF;
    margin-bottom: 5px;
}
.footer-main .item-address .item-text .name{
    font-weight: 700;
    color: #f2be18;
}
.footer-main .item-address .description-info{
    line-height: 1.6;
}
.footer-main .item-hotline .hotline-top{
    display: flex;
    margin-bottom: 55px;
}
.footer-main .hotline-top .item-child{
    flex: 0 0 50%;
    text-align: center;
    padding-inline: 20px;
    padding-bottom: 20px;
    
}
.footer-main .hotline-top .item-child:first-child{
    border-right: 1px solid #506991;
}
.footer-main .hotline-top .item-child .title{
    margin-bottom: 5px;
    font-weight: 700;
}
.footer-main .hotline-top .item-child .number-phone{
    line-height: 1.6;
    color: #f1f1f1;
}
.footer-main .hotline-top .item-child .contact{
    line-height: 1.6;
    color: #f1f1f1;
    margin-top: 30px;
    display: block;
}
.footer-main .item-hotline .text-copy-right{
    line-height: 2;
    color: #f1f1f1;
    padding-inline: 10px;
}
.footer-main .item-hotline .link-email{
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 25px;
    padding: 3px 8px;
    color: #121212;
    font-weight: 600;
    margin:0 auto 20px;
    font-size: 12px;
    max-width: max-content;
}
.footer-main .item-hotline .copyright{
    text-align: center;
    padding: 0 20px;
}
.footer-main .item-hotline .copyright p{
    margin-top: 20px;
    line-height: 1.6;
}
.footer-main .wrap-logo-footer{
    text-align: center;
    padding: 5px 20px;
}
.footer-main .wrap-logo-footer .logo-ide{
    width: 100px;
    margin-bottom: 10px;
}
.footer-main .wrap-logo-footer .box-ide{
    margin-bottom: 50px;
}
.footer-main .wrap-logo-footer .box-ide .text-title{
    font-weight: 700;
    margin-bottom: 5px;
    color: #f2be18;
}
.footer-main .wrap-logo-footer .box-ide .des{
    line-height: 1.8;
}
.footer-main .wrap-logo-footer .box-image{
    padding: 0 20px 30px;
}
.footer-main .wrap-logo-footer .box-image .logo{
    width: 100%;
    max-width: 250px;
}
.header-top.footer{
    background: #041f4a;
}
.header-top.footer .container-header{
    background: #041f4a;
}
.item-news-big{
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.wrap-new-top .dcr-1pe3pea{
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
}
.wrap-new-top .dcr-hz1gr4{
    -webkit-flex-basis:25%;
    -ms-flex-preferred-size:25%;
    flex-basis:25%;
}

.list-menu-left{
    padding-top: 10px;
}
.list-menu-left li{
    border-top: 0;
    border-bottom: 1px solid #DADADA;
}
.list-menu-left li a{
    font-size: 14px;
}
.item-custom-1::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #DCDCDC;
}
.not-before::before{
    display: none
}
.title-item.line-4{
    -webkit-line-clamp: 4
}
.item-slide-custom{
    width: 100%;
    -webkit-flex-basis: unset;
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
}

.wrap-slider-category{
    display: flex;
    background-color: #F6F6F6;
    padding-bottom: 30px;
}
.wrap-slider-category .item-left{
    flex: 0 0 calc((260 / 1300) * 100%);
    max-width: calc((260 / 1300) * 100%);
    min-width: 200px;
}
.wrap-slider-category .slider-category-main{
    flex: 0 0 calc((955 / 1300) * 100%);
    max-width: calc((955 / 1300) * 100%);
}
.wrap-slider-category .slider-category-main .item-slide-custom .dcr-omk9hw{
    background-color: #ffffff;
}
.wrap-slider-category .item-left{
    padding-right: 10px;
}
.wrap-slider-category .item-left .dcr-l9k7rx{
    padding-left: 20px;
    padding-right: 10px;
    background-color: #63c0eb;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrap-slider-category .item-left::after{
    display: none;
}
.wrap-slider-category .item-left .dcr-11izkwq{
    color: #FFF;
}
.wrap-slider-category .item-left .list-menu-left li{
    border-color: #ffffff;
}
.wrap-slider-category .item-left .list-menu-left li a {
    color: #ffffff;
}
.wrap-slider-category .item-left .list-menu-left li a svg path{
    fill: #FFF;
}
.wrap-slider-category .item-left .box-image{
    text-align: center;
    padding-bottom: 20px;
}

.wrap-slider-category .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
}
.wrap-slider-category .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.wrap-slider-category .owl-nav button svg{
    width: 35px;
    height: auto;
}
.wrap-slider-category .owl-nav button.owl-prev{
    left: -50px;
}
.wrap-slider-category .owl-nav button.owl-prev svg path{
    fill: #FFFFFF;
}
.wrap-slider-category .owl-nav button.owl-next{
    right: -40px;
}
.wrap-slider-category .owl-nav button.owl-next svg path{
    fill: var(--is-color);
}

/*  */

body .title-category{
    color: var(--is-color)!important;
}
body .owl-dots .owl-dot.active span,
body .section-case-3 .dcr-omk9hw:before,
body .dcr-omk9hw:before,
body .section-case-3 .dcr-15hrd46:before{
    background-color: var(--is-color)!important;
}
body .title-section svg path,
body .list-menu-left:not(.top) li a svg path{
    fill: var(--is-color)!important;
}

body .color-page{
    color: var(--is-color)!important;
}
body .color-page path{
    fill: var(--is-color)!important;
}
body .bg-color-page{
    background-color: var(--is-color)!important;
}


.layout-content-main{
    display: flex;
}
.layout-content-main .item-left{
    flex: 0 0 calc((250 / 1300) * 100%);
    max-width: calc((250 / 1300) * 100%);
    min-width: 200px;
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}
.layout-content-main .wrap-box-content{
    flex: 0 0 calc((1050 / 1300) * 100%);
    max-width: calc((1050 / 1300) * 100%);
    border-left: 2px solid #DCDCDC;
    display: flex;
    flex-wrap: wrap;
}
.layout-content-main .wrap-box-content .content-layout-main{
    flex: 0 0 calc((800 / 1050) * 100%);
    max-width: calc((800 / 1050) * 100%);
    padding-inline: 20px;
}
.layout-content-main .wrap-box-content .layout-right{
    flex: 0 0 calc((250 / 1050) * 100%);
    max-width: calc((250 / 1050) * 100%);
    padding-inline: 15px;
    padding-bottom: 10px;
}
.layout-content-main .wrap-box-content .text-title-view{
    font-size: 18px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 15px;
    padding-top: 8px;
}
.layout-content-main .wrap-box-content .list-new-view{
    border-bottom: 4px solid var(--is-color);
    padding-bottom: 15px;
}
.layout-content-main .wrap-box-content .list-new-view .content{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 0;
    padding-right: 3px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom: 1px solid #c1c1c1;
}
.layout-content-main .wrap-box-content .list-new-view li:last-child .content{
    border: none;
}
.layout-content-main .wrap-box-content .list-new-view .box-image{
    width: 45px;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0;
}
.layout-content-main .wrap-box-content .list-new-view .box-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.layout-content-main .wrap-box-content .list-new-view .title{
    font-size: 12px;
    color: #121212;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.layout-content-main .item-left .list-menu-left.top{
    margin-bottom: 50px;
}

.layout-content-main .item-left .info-author{
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}
.layout-content-main .item-left .info-author .box-image{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
}
.layout-content-main .item-left .info-author .box-image img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: cover;
}
.layout-content-main .item-left .info-author .name{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}
.layout-content-main .item-left .info-author .box-time{
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 15px;
}
.layout-content-main .item-left .info-author .box-social .text{
    font-size: 14px;
    color: #c1c1c1;
    line-height: calc(1.4);
    width: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content:  center;
    padding-block: 2px;
    border: 1px solid #c1c1c1;
}
.layout-content-main .item-left .info-author .box-social{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.layout-content-main .item-left .info-author .box-social .list-social-detail li{
    margin-bottom: 8px;
}
.wrap-box-content .title-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.wrap-box-content .title-top .category{
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
}
.wrap-box-content .title-top .category::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--is-color);
    display: block;
    margin-right: 5px;
}
.wrap-box-content .title-top .action-top{
    display: flex;
    align-items: center;
    gap: 5px;
}
.wrap-box-content .title-top .action-top .icon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #00000055;
    padding-top: 2px;
    color: #00000055;
    transition: all .3s;
    text-decoration: unset;
}
.wrap-box-content .title-top .action-top .icon:hover {
    color: var(--is-color);
    border-color: var(--is-color);
}

.wrap-box-content .box-title .title-page{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 40px;
}

.box-image img{
    width: 100%;
}
.box-image .info-image{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.box-image .info-image .text{
    font-weight: 600;
    font-size: 13px;
    line-height: 1.4;
}
.wrap-box-content .list-category-top{
    margin-bottom: 20px;
}
.wrap-box-content .list-category-top a{
    display: block;
    color: #121212;
    font-weight: 600;
    line-height: 1.3;
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
    font-size: 18px;
}
.wrap-box-content .list-category-top a::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--is-color);
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
}
.wrap-box-content .content-top{
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}
.wrap-box-content .content{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}
.wrap-box-content .content *{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: justify;
}
.wrap-box-content .content .key-head{
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
}
.wrap-box-content .content.first-letter::first-letter {
    font-size: 100px;
    line-height: 0.7;
    font-weight: 500;
    float: left;
    margin-right: 4px;
    color: var(--is-color);
}
.wrap-box-content .title-content{
    display: flex;
    gap: 15px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 25px;
}
.wrap-box-content .title-content i{
    padding: 2px 1px;
    color: #FFFFFF;
    font-size: 12px;
}
.wrap-box-content .form-comment{
    padding-top: 20px;
    padding-bottom: 35px;
}
.wrap-box-content .form-comment .box-title-comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.wrap-box-content .form-comment .text-title{
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    padding: 6px 10px;
    border-radius: 20px;
}
.wrap-box-content .form-comment .right{
    display: flex;
    align-items: center;
    gap: 4px;
}
.wrap-box-content .form-comment .right .text{
    font-size: 18px;
    color: #c1c1c1;
    line-height: calc(1.4);
    width: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content:  center;
    border: 1px solid #c1c1c1;
}
.wrap-box-content .form-comment .right .list-social-detail{
    display: flex;
    align-items: center;
    gap: 5px;
}
.list-social-detail a{
    width: 25px;
    min-width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid #c1c1c1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    text-decoration: none;
}
.list-social-detail i{
    font-size: 14px;
    color: #c1c1c1;
}
.list-social-detail svg{
    width: 14px;
}
.list-social-detail svg path{
    fill: #c1c1c1;
}
.wrap-box-content .form-comment .wrap-form-comment .form-group{
    display: flex;
    align-items: flex-start;
    border: 1px solid #ced4da;
    padding: 10px;
    gap: 5px;
}
.wrap-box-content .form-comment .wrap-form-comment i{
    color: #FFFFFF;
    padding: 2px;
    font-size: 14px;
}
.wrap-box-content .form-comment .wrap-form-comment .form-control{
    border: none;
    padding: 0;
}
.wrap-box-content .form-comment .wrap-form-comment .button-submit{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.wrap-box-content .form-comment .wrap-form-comment .button-submit .btn-submit{
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    padding: 1px 8px;
    border-radius: 0;
    transition: all .3s;
}
.wrap-box-content .form-comment .wrap-form-comment .button-submit .btn-submit:hover{
    opacity: .75;
}
.is-mobile{
    display: none;
}